<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chart.css') }}">
</head>

<body>
    <div class="container">
        <h1>Twitter timeline analysis</h1>
        {% block body %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>

</html>
