{% extends 'base.html' %}
{% block body %}
<section class=row>
    <h4>
        Hello <strong>@{{ screen_name }}</strong>
    </h4>
    <p>
        Welcome on an breakdown of your timeline.
    </p>
</section>
<section class=row>
    <h4>Five most active users</h4>
    <p>
        These are the <strong>5</strong> most active users over the last <strong>200</strong>
        tweets of your timeline.
    <div id="users"></div>
</section>
<section class=row>
    <h4>Most active language</h4>
    <p>
        These are the <strong>5</strong> most spoken languages over the last <strong>200</strong>
        tweets of your timeline.
    </p>
    <div id="language"></div>
</section>
<section class=row>
    <h4>Most active users sentiment breakdown</h4>
    <p>
        This is a sentiment breakdown over the last <strong>200</strong> tweets
        for the <strong>5</strong> most active users of your timeline. It is computed
        using a GloVe based NLP model.
    </p>
    <p class="warning">
        <strong>Warning</strong>: This chart is only computed on the <strong>English</strong>
        tweets.
    </p>
    <div id="sentiment"></div>
</section>

{% endblock %}
{% block script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='js/chart.js')}}"></script>
<script>
    var most_active_users = JSON.parse('{{ most_active_users | safe }}')
    var most_active_language = JSON.parse('{{ most_active_language | safe }}')
    var sentiment_count = JSON.parse('{{ sentiment_count | safe }}')

    console.log(sentiment_count);
    drawBarChart(most_active_users, "#users")
    drawBarChart(most_active_language, "#language")
    drawSentiment(sentiment_count)
</script>
{% endblock %}
